<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Book Record</title>
</head>
<body>
    <div align="center">
        <h1>Add New Book Record</h1>

        <form action="/insert" method="post">
            <input type="text" name="title" placeholder="Enter Title"><br><br>
            <input type="text" name="author" placeholder="Enter Author Name"><br><br>
            <input type="number" name="pages" placeholder="Enter Number of Pages"><br><br>
            <input type="text" name="isbn" placeholder="Enter ISBN"><br><br>
            <button type="submit">Add Book</button>
        </form>
        <p><a href="/"><button>Back to Main</button></a></p>
    </div>
</body>
</html>